.Terminal{
	resize: none;
	background: #000;
	color: #00cc00;
	font-family: monospace;
	min-height: 200px;
	border-width:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:3px
   cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   display:block;
   width: 100%;
}

.Terminal:focus {
   outline: none;
}